@charset "UTF-8";
/* CSS Document */

/* Alexis Shinawongse
   Final Project, EME 6930 WPI
   Spring 2022 */


/* Color palette from USF UCM Brand Palette

	Main and secondary
	USF Green #006747
	USF Gold #CFC493
	White #FFFFFF
	Sand #EDEBD1
	Evergreen #005432

	Accent Colors
	Lemongrass #DBE442
	Apple #9CCB3B
	Teal #009374
	Seaglass #80B0A6
	Storm #006484
	Silver #CAD2D8
	Gray #7E96A0
	Slate #466069




*/



html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;	
}

body {
	margin:0;
	background-color: #FFFFFF;
	font-family: 'Libre Franklin', sans-serif;	
}

h1 {
	color: #ffffff;
	font-family: 'Libre Franklin', sans-serif;
	
		
}
h3, h4 {
	
color: #FFEFBA;
	font-family: 'Libre Franklin', sans-serif;	
	
}


h2 {
	font-family: 'Libre Franklin', sans-serif;
	color: #D58258;
	
}

p{
	font-size: 1.5em;
}
	

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #006747;
	color: #ffffff;
	box-sizing: border-box;
	clear: both;
	z-index: 1;
	height: 200px;
	
}

header h1 {
	text-align: center;
	font-size: 5em;
	padding-top: 15px;
	font-style: bold;
}

#sidenav-button {
	color: #9CCB3B;
}

.carousel-caption {
	color: #466069;
}

.mainForm {
	background: #EDEBD1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #FFFFFF, #EDEBD1);
    background: -o-linear-gradient(left, #FFFFFF, #EDEBD1);
    background: linear-gradient(to top, #FFFFFF, #EDEBD1);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.mainForm a{
	color: #466069;
}

.mainForm h2, .videoText h2 {
	margin: 0;
}

.mainform p{
	font-size: 1em;
}

.videoText iframe { /* style video */
	
	border: double thick #5F61F6;
	padding: 2%;
	box-sizing: border-box;
	background-color: #FFF2C8;
	border-color: #9D8A75;
}

.funFact {
	border: double thick #5F61F6;
	padding: 2%;
	box-sizing: border-box;
	background-color: white;
	border-color: #9D8A75;
}

.funFact h3 {
	margin: 0;
	color: #D58258;
}

.parallax {
	background-image:url("images/library-parallax-1.jpeg");
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
}

footer {
	display: grid;
	grid-template-columns: auto;
	background-color: #006747;
	color: white;
	box-sizing: border-box;
}

footer i { /* style footer icons */
	margin: 1%;
	color: #ffffff;
}

a { 
	color:#FFFFFF;
	text-decoration:none;
}
	
a:hover, i:hover {
	color:#9CCB3B;
	text-decoration : none;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.mainForm{ /*style form field area*/
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
    color:#555555;
	

	
}
.mainForm article{ /*styles instructions area */
	height: 600px;
	background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 40px;
    padding-right:40px;
    color: #002855;

}

.mainForm h2{
    color: #555555;
    font-size: 25px;
    
}

.mainForm aside {/*styles form field area */
	height: 600px;
	background-color: #9CCB3B;
    padding-top: 20px;
    padding-left: 40px;
    padding-right:40px;
}

.mainForm aside button{/*styles form button*/
    background-color:#63666a;
    font-family: 'Montserrat', sans-serif; /*from Google Fonts*/
    color: #FFFFFF;
}

hr{/*styles horizontal line in the form area */
    background-color:#5ec4b9;
    height: 3px;
    border: none;
}

input[type=text]{
    margin: 8px;
}

/* side nav bar */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #466069; 
	overflow-x: hidden;
	transition: 0.3s; 
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

  .mainForm{
	  width: 100%;
  }




/* begin responsive web design elements */

/* this targets PHONES */
@media screen and (max-width: 640px) {
	
	.myCarousel{
		display: none;
	}
	
	body{
	font-size: 1em;
	}	
	
	.mainForm {
		display: grid;
		vertical-align: middle;
		padding: 4%;
		box-sizing: border-box;
		width: 100%;
		grid-column-gap: 5%; 
		grid-column-gap: 10px;
    	color:#555555;
	}


	.mainForm aside {/*styles form field area */
		height: 600px;
		background-color: #9CCB3B;
		padding-top: 20px;
		padding-left: 40px;
		padding-right:40px;
	}
	
	.mainForm aside button{/*styles form button*/
		background-color:#63666a;
		font-family: 'Montserrat', sans-serif; /*from Google Fonts*/
		color: #FFFFFF;
	}
	
	
	input[type=text]{
		margin: 8px;
	}

	
	.videoText {
		display: grid;
		grid-template-columns: 1fr;
		vertical-align: middle;
		padding: 4%;
		box-sizing: border-box;
		width: 100%;
	}
	
	.videoText iframe {
		width: 426px;
		height: 240px;
	}
	
	.videoText article {
		text-align: center;
	}
	
	footer {
		text-align: center;
		padding: 4% 0;
		box-sizing: border-box;
	}
}




/* this targets TABLETS */
@media screen and (min-width: 640px) and (max-width: 1024px) {
	
	body {
		font-size: 1.15em;
	}
	

	
	.mainForm {
		display: grid;
		grid-template-columns: 1fr 1fr; /* new */
		vertical-align: middle;
		padding: 6%; /* updated */
		box-sizing: border-box;
		width: 100%;
		grid-column-gap: 5%; /* new */
		grid-column-gap: 10px;
    	color:#555555;
	}
	
	.mainForm img {
		width: 100%;
		/* margin-left: 25%; */
	}
	
	.videoText {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 2%; /* new */
		vertical-align: middle;
		padding: 6%; /* updated */
		box-sizing: border-box;
		width: 100%;
	}
	
	.videoText section {
		margin-bottom: 3%;
	}
	
	.videoText iframe {
		width: 640px; /*updated */
		height: 360px; /*updated */
	}
	
	.videoText article {
		text-align: center;
	}
	
	footer {
		text-align: center;
		padding: 4%; /* updated */
		box-sizing: border-box;
	}
	
	.threeColumns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2%;
	}
}





/* this targets DESKTOPS */
@media screen and (min-width: 1024px){
	
	body {
		font-size: 1.25em;
	}
	

	
	.mainForm {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		vertical-align: middle;
		padding: 4%; /* updated */
		box-sizing: border-box;
		width: 100%;
		grid-column-gap: 5%; 
		grid-column-gap: 10px;
    	color:#555555;
	}
	
	.mainForm img {
		width: 100%;
		/* margin-left: 25%; */
	}
	
	.videoText {
		display: grid;
		grid-template-columns: 1fr 1.5fr; /* updated */
		grid-column-gap: 2%; 
		vertical-align: middle;
		padding: 4%; /* updated */
		box-sizing: border-box;
		width: 100%;
	}
	
	.videoText section {
		margin-bottom: 3%;
	}
	
	.videoText iframe {
		width: 640px; 
		height: 360px; 
	}
	
	.videoText article {
		text-align: center;
	}
	
	footer {
		text-align: center;
		padding: 4%; 
		box-sizing: border-box;
	}
	
	.threeColumns {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2%;
	}
	
}