@charset "UTF-8";
/* CSS Document */

body{
	background-color: #FEEFDE;
	
}


header{
	text-align: center;
	

}
header, footer {
	
	display: grid;
	grid-template-columns: auto;
	height: 100px;
	background-color: #DAE3E6;
	
}




.grid2{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	margin-top: 10px;
	
	
}

.grid2 section{
	height: 225px;
	background: white;
	
	
}

.assignments{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-top: 10px;
	
	
}

.assignments section{
	height: 100px;
	background-color: #FEE7E6;
	border-radius: 25px;
	border: 2px solid #6E6D6E;
	text-align: center;
	position: relative;
	
	
}