@charset "UTF-8";
/* CSS Document */

/* document colors pulled from Polk County Public School's main website with eye dropped Chrome extension
    white #ffffff
    aquamarine #5ec4b9
    grey #63666a
    darker grey #555555
    royal blye #002855
    mustard yellow #f4da3f

*/

body{
	background: #FFFFFF;  /*main background color*/
    font-family: 'Montserrat', sans-serif; /*from Google Fonts*/
	
}

#wrapper{ /* keeps page centered/focused */
	
	width: 1024px;
	margin: 0 auto;
	background-color: #FFFFFF;
	
}

header {
	
	padding-left: 40px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: auto;
	background-color: #63666a; 
	height: 100px;
    

}

header h1{
    color: #ffffff;
    font-size: 35px;
}

.schoolInfo{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* boxes of equal widths */
	grid-column-gap: 10px;
	margin-top: 10px;
	
	
}

.schoolInfo section{
	height: 400px; /* column size */
	background-color: #5ec4b9;
    padding-left: 20px;
	
}

.schoolInfo section h2{
    color: #FFFFFF;
}

.schoolInfo p{
    color: #002855;
    font-size: 14px;
    text-align: left;
    padding-right: 20px;
}

.schoolInfo button{
    margin-top: 20px;
    margin-left: 40px;
    background-color:#63666a;
    font-family: 'Montserrat', sans-serif; /*from Google Fonts*/

}

#buttonMB, #buttonSW{ /* centering MB and SW buttons to the box they are inside of */
    margin-left: 20px;
    margin-right: 40px;
}

.schoolInfo button:hover, .mainForm aside button:hover{ /* adjust color of mouse over on buttons for schoolInfo*/
    background-color: #002855;
}

.mainForm{ /*style form field area*/
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
    color:#555555;

	
}
.mainForm article{ /*styles instructions area */
	height: 550px;
	background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 40px;
    padding-right:40px;
    color: #002855;
}

.mainForm h2{
    color: #555555;
    font-size: 25px;
    
}

.mainForm aside {/*styles form field area */
	height: 540px;
	background-color: #C2DBDF;
    padding-top: 20px;
    padding-left: 40px;
    padding-right:40px;
}

.mainForm aside button{/*styles form button*/
    background-color:#63666a;
    font-family: 'Montserrat', sans-serif; /*from Google Fonts*/
    color: #FFFFFF;
}

hr{/*styles horizontal line in the form area */
    background-color:#5ec4b9;
    height: 3px;
    border: none;
}

input[type=text]{
    margin: 8px;
}

